{
  "trailingComma": "es5",
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@preview", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
