@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --tw-color-primary-50: 240 249 244;
  --tw-color-primary-100: 218 241 227;
  --tw-color-primary-200: 184 226 203;
  --tw-color-primary-300: 137 204 170;
  --tw-color-primary-400: 88 175 134;
  --tw-color-primary-500: 59 159 116;
  --tw-color-primary-600: 38 117 85;
  --tw-color-primary-700: 30 94 70;
  --tw-color-primary-800: 26 75 56;
  --tw-color-primary-900: 22 62 47;
  --tw-color-primary-1000: 6 15 11;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #f0f9ff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #e0f2fe */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #bae6fd */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #7dd3fc */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #38bdf8 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #0ea5e9 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #0284c7 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #0369a1 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #075985 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #0c4a6e */
  --color-primary-1000: rgb(var(--tw-color-primary-1000)); /* #060f0b */
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  src: url('../public/fonts/inter-var-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300 400 700;
  src: url('../public/fonts/Ubuntu-Regular.ttf') format('truetype');
}
